#Ignoring all source code besides dist directory. Not sure if I want to do compilation inside the image or on dev machine...
routes
util
server.ts
tsconfig.json
node_modules
log
npm-debug.log
.git
.gitignore
# shared files not included...?
shared
