# All compilation and building is done inside docker container, for dev or prod. So DO include source code.
#routes
#util
#server.ts
#tsconfig.json
#shared

node_modules
log
npm-debug.log
.git
.gitignore
