routes
util
server.ts
tsconfig.json
node_modules
log
npm-debug.log
.git
.gitignore
# shared symlinks are not included. Instead actual copies of the shared files are added in a volume.
shared
create-symlinks.sh
